.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src/*.bak
src/active_autotune.cpp
.Rproj
inst/doc
/doc/
/Meta/
experimentation.Rmd
experimentation.html
*.pdf
trial_autotune.cpp
DJIA_playground.R